body {
  background-image: url("i.png") ;
  background-size: cover;
  background-position: center;
  
  font-family:sans-serif; 
  
  
}
h2{
	margin:0 10px;
}
h4{
	margin:0 40px;
}
p{
    margin:0 40px;
}

.imageTitre{
	width: 50%;
	margin:0 370px;
	padding: 10px;

}

.menu-bar{
	background : white;
	text-align: center;
	padding-top: -10px;
	padding-bottom: 20px;
	font-size: 20px;
	bottom: 10px;
	display: flex;



}
table,th,td{
	border:1px solid black;
	border-collapse: collapse;
	margin: 20px;
	padding: 20px;
}

.menu-bar img{
	width: 10%;

}


.menu-bar ul {
	display: inline-flex;
	list-style : none;
	color: black;
	width: 80%;
}
.menu-bar ul li{
	width : 170px; 
	margin : 30px ;
	padding : 0 -20px;



}
.menu-bar ul li a{
	text-decoration: none;
	color : black;
}

.active,.menu-bar ul li :hover{
	background: #F5F5F5;
	border-radius :10px;
}

.sub-menu-1{
	display: none;
}
.menu-bar ul li :hover .sub-menu-1{
	display: block;
	position : absolute;
	background: #F5F5F5 ;
	margin-top : 15px;
	margin-left: -50px;
}

